

<div class="container-fluid">
  <%= form_tag(studio_bookings_path) do %>
    <div class="row" id="start-id">
      <div class='col-sm-6'>
        <label for="start_time">*Start Time</label>
        <%= text_field_tag :start_time%>
      </div>
      <div class='col-sm-6'>
        <label for="end_time">*End Time</label>
        <%=text_field_tag :end_time%>
      </div>
    <br>
  </br>
    <div class="row" id="booking-id">
      <div class='col-sm-6'>
        <%= submit_tag "Create Booking"%>
      </div>
    </div>
  <%end%>
</div>

<style>
#start-id{
  margin-left: 50px;
}
#booking-id{
  margin-top: 100px;
  margin-left: 440px;
}
</style>
